

.jumbotron {
  background-image: url("../images/spbanner.jpg");
  background-size: cover;
  background-position: center;
  text-align:center;
}

.bg-custom-1 {
  background-color:#1ed760;
}

.bg-custom-2 {
  background-color:black;
}

.data-section {
  padding-top: 4rem;}

.ml-section {
  padding-top: 4rem;}

.viz-section {
  padding-top: 4rem;}

.about-section {
  padding-top: 4rem;}


h3{
    margin-bottom: 2rem;
}

.gy-5 {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}